@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'DM Sans', sans-serif !important;
    padding: 0;
    margin: 0;
}

.bg-gradient {
    background: linear-gradient(224.03deg, #211093 -1.74%, #A323A3 47.01%, #FFA01B 100%);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.h-15 {
    height: 3.75rem; /* 60px */
}

.text-gray-130 {
    color: #EBEBEB !important;
}

.bg-gray-130 {
    background-color: #EBEBEB !important;
}

.text-gray-150 {
    color: #D8D8D8 !important;
}

.bg-gray-150 {
    background-color: #D8D8D8 !important;
}

.text-gray-170 {
    color: #959595 !important;
}

.bg-gray-170 {
    background-color: #959595 !important;
}

.text-black-150 {
    color: #777777 !important;
}

.text-black-190 {
    color: #101010 !important;
}

.bg-black-190 {
    background-color: #101010 !important;
}

.bg-primer {
    background-image: linear-gradient(224.03deg, #211093 -1.74%, #A323A3 47.01%, #FFA01B 100%) !important;
}
